/* Center all images */
img {
  display: block;
  margin: 0 auto;
}

/* Center all plots */
.plot-container {
  display: flex;
  justify-content: center;
}

/* Center Leaflet maps */
.leaflet-container {
  margin: 0 auto;
}

/* Center word clouds */
.wordcloud2 {
  display: block;
  margin: 0 auto;
  justify-content: center;
}

.wordcloud2-container {
  margin-bottom: 0;
}

/* Body font family and size */
body {
  color: #333;
  font-family: "Segoe UI", sans-serif;
  font-size: 2rem;
  line-height: 1.6em;
}

/* Headings font family and size */
h1, h2{
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
    display: block;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 2rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}